<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We offer a variety of flexible solutions for small businesses</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media</h4>
                    <p class="text-muted">Need more free B2C advertising? We can customize post content to fit any need whether it's to grow your following or simple day-to-day client engagement.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design + Development</h4>
                    <p class="text-muted">One site for all screens sizes - we design and build custom responsive websites to fit your brand. We can also setup and handle your web hosting.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Email Marketing</h4>
                    <p class="text-muted">Have a client list but no time to engage with them? We can style a custom email strategy to generate a buzz.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Brand Identity</h4>
                    <p class="text-muted">Need more free B2C advertising? We can customize post content to fit any need whether it's to grow your following or simple day-to-day client engagement.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-optin-monster fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Graphics</h4>
                    <p class="text-muted">We design and develop quick responsive custom websites to fit your company's brand and image. We can also setup and handle your hosting.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marketing Campaigns</h4>
                    <p class="text-muted">Small biz owners get busy–we can understand that and also help. Let us generate a marketing campaign combining email and social media.</p>
                </div>
            </div>
        </div>
    </section>