<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We offer a variety of flexible solutions for small businesses</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Social Media</h4>
                            <p class="text-muted text-left">Looking to leverage social media for advertising? We can customize post content to fit any need whether it's to grow your following or day-to-day follower engagement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Design + Development</h4>
                            <p class="text-muted text-left">One site for all screens&mdash;we design and build custom responsive websites to fit your brand. We can also setup and handle your web hosting needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Email Marketing</h4>
                            <p class="text-muted text-left">Got a client list but no time to engage with them? We can style a custom email strategy to generate a buzz&mdash;we can design the emails too!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Brand Identity</h4>
                            <p class="text-muted text-left">Need a logo? What about a color palette? Company fonts? We can supply all of that and more to give you a brand that stands out.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-optin-monster fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Custom Graphics</h4>
                            <p class="text-muted text-left">T-shirts? Banners? Got a cool idea and can't pencil it out? Maybe a jacked unicorn swinging a kettlebell? We can do that, too.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-module">
                        <div class="block-module__header">
                            <span class="fa-stack block-module__icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="block-module__content">
                            <h4 class="service-heading">Marketing Campaigns</h4>
                            <p class="text-muted text-left">Small biz owners get busy–we can understand that and also help. Let us generate a marketing campaign combining email and social media to bring attention to your services.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="#contact" class="page-scroll btn btn-primary btn-xl">Give us a shout</a>
                </div>
            </div>
        </div>
    </section>